---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

<style>
.talk-item { margin-bottom: 0.7em; line-height: 1.4; }
.talk-meta { font-size: 0.85em; color: #666; }
</style>

{% for post in site.talks reversed %}
<div class="talk-item">
  <span class="talk-meta">{{ post.date | date: "%Y" }} &middot; {{ post.type }}</span><br>
  {{ post.title }}<br>
  <span class="talk-meta"><i>{{ post.venue }}</i>, {{ post.location }}</span>
</div>
{% endfor %}
